.App {
  text-align: center;
}

.content-div {
  margin-left: 70px;
  width: 90%;
  height: auto;
  background-color: #CEECEE;
  border-radius: 30px;
  box-shadow: 1px 2px rgb(224, 224, 224);
}

.search-country {
  margin: 10px;
}

.search-league {
  margin: 10px;
}

.search {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.equipos-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
}

/*.equipos {
  margin: 24px;
  width: 100px;
  height: 100px;
}*/

.teams-icons {
    width:55x;
    height:55px;
    margin:2px;
    cursor: pointer;
}
